<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Results</title>
    </head>

    <body>
        <div>
            <div>
                <h1>Welcome {{user.first_name}} {{user.last_name}}</h1>
                <div>
                    <a href="/recipes/create">Add a new recipe!</a>
                    <a href="/logout">Log Out</a>
                </div>
            </div>

            <h2>Recipes made by users:</h2>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Under 30 min?</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recipe in recipes: %}
                            <tr>
                                <td>{{recipe.name}} by {{recipe.user.first_name}}</td>
                                <td>{% if recipe.under_30: %}
                                    Yes
                                    {% else: %}
                                    No
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="/recipes/{{recipe.id}}">view instructions</a>
                                    <!--edit and delete-->
                                    {% if recipe.user.id == user.id: %}
                                        <a href="/recipes/edit/{{recipe.id}}">edit</a>
                                        <a href="/recipes/delete/{{recipe.id}}">delete</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>